<script>
  export default {
    name: 'Main',
    data() {
      return {
        messages: '',
        text: '',
      }
    },
    mounted() { console.log('hello world.') },
    methods: {
      keyUp(event) {
        if(event.code === 'Enter') {
          this.sendText();
        }
      },
      async sendText() {
        const response = await fetch('./speak', {
          method: 'POST',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify({message: this.text}),
        });
        const json = await response.json();
        const message = json.response;
        const text = this.text;
        const messages = this.messages;
        this.messages = `aethred: ${message}\nyou: ${text}\n\n${messages}`;
	this.text = '';
      }
    }
  };
</script>

<template>
    <div class="wrapper">
      <h1 style="text-align: center;">Aethred</h1>
            <div class="element">
                    <label for="text">Text to Send</label>
                    <input @keyup="keyUp" v-model="text" id="text"/>
                    <button @click="sendText">Send</button>
            </div>
            <div class="vertical-element">
              <label for="results">Results</label>
              <textarea id="results" disabled v-model="messages"></textarea>
            </div>
    </div>
</template>

<style>
@import '@/assets/base.css';

#app{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

header {
  line-height: 1.5;
  max-height: 100vh;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }

  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}
</style>
